examples/02 Create sample jpeg images using ffmpeg node.json
[
  {
    "id": "dcc7e1ecc3b50b87",
    "type": "debug",
    "z": "b7dcaea95bd6323d",
    "name": "stderr",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 400,
    "wires": []
  },
  {
    "id": "055a7ba886404441",
    "type": "debug",
    "z": "b7dcaea95bd6323d",
    "name": "playlist",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "status",
    "statusType": "msg",
    "x": 820,
    "y": 340,
    "wires": []
  },
  {
    "id": "2b421bb0bec97af0",
    "type": "comment",
    "z": "b7dcaea95bd6323d",
    "name": "FFMPEG IS NOT INCLUDED WITH THIS NODE. IT MUST BE INSTALLED SEPARATELY.",
    "info": "",
    "x": 340,
    "y": 60,
    "wires": []
  },
  {
    "id": "93563b6781bbd66c",
    "type": "comment",
    "z": "b7dcaea95bd6323d",
    "name": "ENOENT error indicates that ffmpeg is not installed or its path is incorrect.",
    "info": "",
    "x": 300,
    "y": 140,
    "wires": []
  },
  {
    "id": "4ec1f8731923a929",
    "type": "comment",
    "z": "b7dcaea95bd6323d",
    "name": "The correct video codec and format must be set when generating jpeg images.",
    "info": "",
    "x": 320,
    "y": 100,
    "wires": []
  },
  {
    "id": "b0af8b2e90169a60",
    "type": "comment",
    "z": "b7dcaea95bd6323d",
    "name": "For help, publicly tag me in the Node-RED forum @kevinGodell.",
    "info": "`@kevinGodell`",
    "x": 270,
    "y": 180,
    "wires": []
  },
  {
    "id": "e230eb1f4570197d",
    "type": "comment",
    "z": "b7dcaea95bd6323d",
    "name": "Create sample jpeg images using ffmpeg node.",
    "info": "",
    "x": 220,
    "y": 280,
    "wires": []
  },
  {
    "id": "b8166871d2e90f18",
    "type": "pipe2jpeg",
    "z": "b7dcaea95bd6323d",
    "name": "",
    "basePath": "flow02",
    "serveHttp": "true",
    "bufferType": "array",
    "x": 570,
    "y": 340,
    "wires": [
      [
        "055a7ba886404441"
      ],
      []
    ]
  },
  {
    "id": "8896a3f1d2a677fd",
    "type": "ffmpeg",
    "z": "b7dcaea95bd6323d",
    "name": "",
    "outputs": 3,
    "cmdPath": "ffmpeg",
    "cmdArgs": "[\"-loglevel\",\"+level+error\",\"-hide_banner\",\"-nostats\",\"-re\",\"-f\",\"lavfi\",\"-i\",\"testsrc=size=qcif:rate=1\",\"-f\",\"image2pipe\",\"-c\",\"mjpeg\",\"-t\",\"00:02:00\",\"pipe:1\"]",
    "cmdOutputs": 2,
    "killSignal": "SIGTERM",
    "x": 320,
    "y": 380,
    "wires": [
      [
        "b8166871d2e90f18"
      ],
      [
        "b8166871d2e90f18"
      ],
      [
        "dcc7e1ecc3b50b87"
      ]
    ]
  },
  {
    "id": "c8c671e45a54c0eb",
    "type": "inject",
    "z": "b7dcaea95bd6323d",
    "name": "start",
    "props": [
      {
        "p": "action",
        "v": "{\"command\":\"start\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 340,
    "wires": [
      [
        "8896a3f1d2a677fd"
      ]
    ]
  },
  {
    "id": "5e34010713868508",
    "type": "inject",
    "z": "b7dcaea95bd6323d",
    "name": "stop",
    "props": [
      {
        "p": "action",
        "v": "{\"command\":\"stop\"}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 110,
    "y": 400,
    "wires": [
      [
        "8896a3f1d2a677fd"
      ]
    ]
  }
]
